h1 {
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.edit-form {
  margin: 15px 20px;
}

.registro {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.registro label {
  padding: 10px 0;
}

.boton {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dissapear {display: none;}

button {
  background-color: #008891;
  color: white;
  padding: 10px 30px;
}
